<div class="reset-password-container">
  <h2>Reset Password</h2>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
    <div class="form-group">
      <label for="old_password">Old Password</label>
      <div class="input-wrapper">
        <i class="fal fa-lock position-absolute input-icon"></i>
        <input
          type="{{ showOldPassword ? 'text' : 'password' }}"
          id="old_password"
          formControlName="old_password"
          required
        />
        <span
          class="show-pass"
          (click)="toggleOldPassword()"
          [ngClass]="showOldPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"
        ></span>
      </div>
    </div>
    
    <div class="form-group">
      <label for="new_password">New Password</label>
      <div class="input-wrapper">
        <i class="fal fa-lock position-absolute input-icon"></i>
        <input
          type="{{ showNewPassword ? 'text' : 'password' }}"
          id="new_password"
          formControlName="new_password"
          required
        />
        <span
          class="show-pass"
          (click)="toggleNewPassword()"
          [ngClass]="showNewPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"
        ></span>
      </div>
    </div>

    <button type="submit" [disabled]="resetPasswordForm.invalid">Reset Password</button>
    
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
  </form>

  <!-- Back Button -->
  <button class="back-button" (click)="goBack()">Back</button>
</div>
