.keyword-container {
  max-width: 1187px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .keyword-title {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .keyword-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .keyword-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 16px;
  }
  
  .keyword-button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .keyword-button:hover {
    background-color: #013c7a;
  }
  
  .keyword-list {
    list-style: none;
    padding: 0;
  }
  
  .keyword-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .keyword-text {
    flex: 1;
    font-size: 18px;
  }
  
  .edit-button,
  .delete-button,
  .update-button,
  .cancel-button {
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .edit-button {
    background-color: #007bff;
    color: white;
  }
  
  .delete-button {
    background-color: #dc3545;
    color: white;
  }
  
  .update-button {
    background-color: #28a745;
    color: white;
  }
  
  .cancel-button {
    background-color: #6c757d;
    color: white;
  }
  
  .edit-button:hover,
  .delete-button:hover,
  .update-button:hover,
  .cancel-button:hover {
    opacity: 0.8; /* Add a hover effect for buttons */
  }
  
  .edit-input {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
    width: 209%;
  }
  .error-message {
    color: red;  /* Change color to indicate error */
    font-size: 0.875em;  /* Make the font smaller */
    margin-top: 0.5em;  /* Add some space above the error message */
  }
  :disabled {background-color: rgb(73, 73, 77)}