<div class="keyword-container">
  <h3 class="keyword-title">Keywords List</h3>
  <form [formGroup]="keywordForm" (ngSubmit)="addKeyword()" class="keyword-form">
    <input type="text" formControlName="keyword" placeholder="Enter a new keyword" class="keyword-input"  (input)="clearCreateError()" />
    <button type="submit" class="keyword-button"  [disabled]="saving || !keywordForm.get('keyword')?.value.trim()">Add Keyword</button>
  </form>
  <div *ngIf="createErrorMessage" class="error-message">
    {{ createErrorMessage }}
  </div>
  <ul class="keyword-list">
    <li *ngFor="let keyword of keywordsList; let i = index" class="keyword-item">
      <ng-container *ngIf="!keyword.editing; else editTemplate">
        <span class="keyword-text">{{ keyword.keywords }}</span>
        <button (click)="editKeyword(i)" class="edit-button">Edit</button>
        <button (click)="deleteKeyword(i)" class="delete-button">Delete</button>
      </ng-container>

      <ng-template #editTemplate>
        <input type="text" [(ngModel)]="keyword.keywords" class="edit-input" />
        <button (click)="updateKeyword(i)"     [disabled]="saving || !keyword.keywords.trim()" class="update-button">Update</button>
        <button (click)="cancelEdit(i)" class="cancel-button">Cancel</button>
      </ng-template>
      <div *ngIf="updateErrorMessages[i]" class="error-message">
        {{ updateErrorMessages[i] }}
      </div>
    </li>
  </ul>
</div>
